<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link href="/css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
    <div id="templatemo_top_panel">
        <div id="templatemo_language_section">
            <a href="#"><img src="/images/templatemo_flag_01.gif" alt="flag 1" /></a>
            <a href="#"><img src="/images/templatemo_flag_02.gif" alt="flag 2" /></a>
            <a href="#"><img src="/images/templatemo_flag_03.gif" alt="flag 3" /></a>
        </div>
        <div id="templatemo_shopping_cart">
            Shopping Cart <span>(<a href="#">0 items</a>)</span>
        </div>
    </div>

    <div id="templatemo_header">
        <img src="/images/templatemo_site_header.jpg" alt="Flower Shop" />
    </div>

    <div id="templatemo_menu_panel">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery" class="current">Gallery</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>

    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <h1>Thu Vien Anh Hoa</h1>
            <p>Khám phá bộ sưu tập hoa tuyệt đẹp của chúng tôi.</p>

            <div class="cleaner_with_height">&nbsp;</div>

            <% images.forEach(function(img) { %>
            <div class="product_box">
                <h3><%= img.caption %></h3>
                <img src="<%= img.src %>" alt="<%= img.caption %>" />
                <p>Hoa tuoi dep nhat tai Flower Shop.</p>
            </div>
            <% }); %>

            <div class="cleaner_with_height">&nbsp;</div>
        </div>

        <div id="templatemo_content_right">
            <div class="templatemo_right_section">
                <h4>Bo Suu Tap</h4>
                <div class="templatemo_right_section_content">
                    <ul>
                        <li><a href="#">Hoa Cuoi</a></li>
                        <li><a href="#">Hoa Su Kien</a></li>
                        <li><a href="#">Hoa Trang Tri</a></li>
                        <li><a href="#">Hoa Tang Le</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cleaner">&nbsp;</div>
    </div>

    <div id="templatemo_footer_panel">
        <div id="footer_left">
            <img src="/images/mastercard.gif" alt="Master Card" />
            <img src="/images/visa.gif" alt="Visa Card" />
            <img src="/images/paypal.gif" alt="PayPal" />
        </div>
        <div id="footer_right">
            Copyright &copy; 2026 Flower Shop
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
</div>
</body>
</html>
