<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link href="/css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
    <div id="templatemo_top_panel">
        <div id="templatemo_language_section">
            <a href="#"><img src="/images/templatemo_flag_01.gif" alt="flag 1" /></a>
            <a href="#"><img src="/images/templatemo_flag_02.gif" alt="flag 2" /></a>
            <a href="#"><img src="/images/templatemo_flag_03.gif" alt="flag 3" /></a>
            <a href="#"><img src="/images/templatemo_flag_04.gif" alt="flag 4" /></a>
            <a href="#"><img src="/images/templatemo_flag_05.gif" alt="flag 5" /></a>
        </div>
        <div id="templatemo_shopping_cart">
            Shopping Cart <span>(<a href="#">3 items</a>)</span>
        </div>
    </div>

    <div id="templatemo_header">
        <img src="/images/templatemo_site_header.jpg" alt="Flower Shop" />
    </div>

    <div id="templatemo_banner">
        <a href="#"><img src="/images/templatemo_banner_image.jpg" alt="Flower Shop" border="0" /></a>
    </div>

    <div id="templatemo_menu_panel">
        <ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>

    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <h1>Flower Shop - Dich Vu Hoa Tuoi Cao Cap</h1>
            <p>Chuyen cung cap hoa tuoi nhap khau tu Ha Lan, Nhat Ban, Thai Lan.</p>
            <p>Mien phi thiet ke theo yeu cau - Giao hang tan noi toan quoc.</p>
            <p>Lien he ngay: 0987-654-321 de duoc tu van mien phi!</p>

            <div class="cleaner_with_height">&nbsp;</div>

            <h2>New Products</h2>
            <div class="product_box">
                <h3>Hoa Hong Do</h3>
                <img src="/images/templatemo_image_01.jpg" alt="Hoa Hong" />
                <p>Bo hoa hong do tuoi dep, thich hop tang nguoi yeu.</p>
                <div class="price">PRICE:<span>200.000 VND</span></div>
                <div class="buynow"><a href="#">Buy Now</a></div><a href="#">Details</a>
            </div>
            <div class="product_box">
                <h3>Hoa Tulip</h3>
                <img src="/images/templatemo_image_02.jpg" alt="Hoa Tulip" />
                <p>Hoa tulip nhap khau tu Ha Lan, mau sac da dang.</p>
                <div class="price">PRICE:<span>250.000 VND</span></div>
                <div class="buynow"><a href="#">Buy Now</a></div><a href="#">Details</a>
            </div>
            <div class="product_box">
                <h3>Hoa Huong Duong</h3>
                <img src="/images/templatemo_image_03.jpg" alt="Hoa Huong Duong" />
                <p>Hoa huong duong tuoi sang, mang lai niem vui.</p>
                <div class="price">PRICE:<span>150.000 VND</span></div>
                <div class="buynow"><a href="#">Buy Now</a></div><a href="#">Details</a>
            </div>

            <div class="cleaner_with_height">&nbsp;</div>

            <h2>Best Sellers</h2>
            <div class="product_box">
                <h3>Bo Hoa Tinh Yeu</h3>
                <img src="/images/templatemo_image_04.jpg" alt="Bo Hoa Tinh Yeu" />
                <p>Bo hoa lang man danh tang nguoi thuong yeu.</p>
                <div class="price">PRICE:<span>500.000 VND</span></div>
                <div class="buynow"><a href="#">Buy Now</a></div><a href="#">Details</a>
            </div>
            <div class="product_box">
                <h3>Hoa Lan Ho Diep</h3>
                <img src="/images/templatemo_image_01.jpg" alt="Hoa Lan" />
                <p>Hoa lan ho diep sang trong, lam qua tang y nghia.</p>
                <div class="price">PRICE:<span>450.000 VND</span></div>
                <div class="buynow"><a href="#">Buy Now</a></div><a href="#">Details</a>
            </div>

            <div class="cleaner_with_height">&nbsp;</div>
        </div>

        <div id="templatemo_content_right">
            <div class="templatemo_right_section">
                <h4>Search</h4>
                <div class="templatemo_right_section_content">
                    <form method="get" action="#">
                        <input name="keyword" type="text" id="keyword"/>
                        <input type="submit" name="submit" class="button" value="Search" />
                    </form>
                </div>
            </div>

            <div class="templatemo_right_section">
                <h4>Categories</h4>
                <div class="templatemo_right_section_content">
                    <ul>
                        <li><a href="#">Hoa Tuoi</a></li>
                        <li><a href="#">Hoa Kho</a></li>
                        <li><a href="#">Hoa Cuoi</a></li>
                        <li><a href="#">Hoa Sinh Nhat</a></li>
                        <li><a href="#">Hoa Khai Truong</a></li>
                        <li><a href="#">Hoa Chia Buon</a></li>
                    </ul>
                </div>
            </div>

            <div class="templatemo_right_section">
                <h4>Khach Hang Noi</h4>
                <div class="templatemo_right_section_content">
                    <p>"Hoa rat dep va tuoi lau!" - Nguyen Van A</p>
                    <p>"Giao hang nhanh, dich vu tot!" - Tran Thi B</p>
                    <p>"Se quay lai lan sau!" - Le Van C</p>
                    <p>"Gia ca hop ly, hoa chat luong" - Pham Thi D</p>
                </div>
            </div>
        </div>

        <div class="cleaner">&nbsp;</div>
    </div>

    <div id="templatemo_footer_panel">
        <div id="footer_left">
            <img src="/images/mastercard.gif" alt="Master Card" />
            <img src="/images/visa.gif" alt="Visa Card" />
            <img src="/images/paypal.gif" alt="PayPal" />
        </div>
        <div id="footer_right">
            Copyright &copy; 2026 Flower Shop
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
</div>
</body>
</html>
